version: '3.8'

services:
  nestjs-hello-world:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3003:3000'
    environment:
      NODE_ENV: development
    volumes:
      - .:/app
    networks:
      - nestjs-network

networks:
  nestjs-network:
    driver: bridge